@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color:#f2f4f6;
  color:#204969;
  font-size:20px ;
  line-height: 25px;
  text-align: justify;
  margin: 30px;
}

h1, h2 {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  color: #293462;
  font-size: 30px;
}

h3 {
  color: #385170;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #5ca0d3;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 30px;
}

.btn-blue {
  background-color: #385170;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: #63aabc;
}

.card-white {
  background-color: #fff7f7;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 4px;
  margin: 20px auto;
  text-align: center;
  width: 500px;
}

.list-inline li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.work-button {
  width: 50px;
}

.social-icon:hover {
color: #63707e;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;

  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
